body {
    padding-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: red solid 4px;
    width: 1057px;
    height: 48rem;
}

.square {
    background-color: black;
    width: 1057px;
    height: 48rem;
}

.snake {
    background-color: white;
    width: 2rem;
    height: 2rem;

    
}

.point {
    background-color: green;
    width: 1rem;
    height: 1rem;
    
}